<section class="section__two">
    <ul class="list">
        <li class="list__item">
            <a href="" class="list__link">
               Успех 
            </a>
        </li>
        <li class="list__item">
            <a href="" class="list__link">
            Удача
            </a>
        </li>
        <li class="list__item">
            <a href="" class="list__link">
            Прорыв
            </a>
        </li>
        <li class="list__item">
            <a href="" class="list__link">
            Оффер
            </a>
        </li>
        <li class="list__item">
            <a href="" class="list__link">
            Карибы
            </a>
        </li>
    </ul>
</section>